body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.bottle-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    gap: 10px;
    /* Evenly distribute space around bottles */

}

.bottle {
    width: 50px;
    height: calc(var(--layer-height) * var(--max-layers-per-bottle));
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    /* For absolute positioning of layers */
    display: flex;
    flex-direction: column-reverse;
}

.bottle.empty {
    background-color: #f5f5f5;
    /* Lighter background for empty bottle */
}

.bottle.selected {
    /* ... existing styles */
    transform: translateY(-20px);
    border: 4px solid green;
    /* Move up on selection */
    transition: transform 0.1s ease-in-out;
    /* Add transition for smoothness */
}

.bottle:not(.selected) {
    transform: translateY(0);
    /* Ensure other bottles are at baseline */
}

.layer {
    display: flex;
    flex-grow: 0;
    /* Keep layers from expanding */
    flex-direction: column;
    /* Position layers at the bottom */
    justify-content: flex-start;
    width: 100%;
    /* Use a fixed height for all layers */
    height: var(--layer-height);
}

.blue {
    background: linear-gradient(to right, rgba(255,255,255,0.8) -10%, blue 50%, rgba(255,255,255,0.8) 110%);
    filter: brightness(1.1) contrast(1.05);
}

.red {
    background: linear-gradient(to right, rgba(255,255,255,0.8) -10%, red 50%, rgba(255,255,255,0.8) 110%);
    filter: brightness(1.1) contrast(1.05);

}

.yellow {
    background: linear-gradient(to right, rgba(255,255,255,0.8) -10%, yellow 50%, rgba(255,255,255,0.8) 110%);
    filter: brightness(1.1) contrast(1.05);
}

.purple {
    background: linear-gradient(to right, rgba(255,255,255,0.8) -10%, purple 50%, rgba(255,255,255,0.8) 110%);
    filter: brightness(1.1) contrast(1.05);
}

.green {
    background: linear-gradient(to right, rgba(255,255,255,0.8) -10%, green 50%, rgba(255,255,255,0.8) 110%);
    filter: brightness(1.1) contrast(1.05);
}

/* Placeholder for controls styling */
.controls {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
}


.bottle.source-selected {
    /* Styles to differentiate source bottle (e.g., thicker border) */
    border: 4px solid black;
}

select {
    width: 40px;
}

.difficulty-selector {
    text-align: right;
}



.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.time-and-movements {
    flex: 1 1 auto;
    /* Expand the best-times container to fill remaining space */
    display: flex;
    flex-direction: column;
    /* Stack the counters vertically */
    align-items: start;
}

.best-times {
    flex: 1 1 auto;
    /* Expand the best-times container to fill remaining space */
    display: flex;
    flex-direction: column;
    /* Stack the counters vertically */
    align-items: end;
}
